*{
    box-sizing: border-box;
}

:root{
    --dark-color: #191919;
    --white-color:#ffffff;
    --purple-color: rgb(117, 41, 149);
    --purplelight-color: rgb(169, 83, 206);
    --aqua-color: aqua;
    --gray-color: gray;
    --ligh-color: #F3F3F3;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/* :::::::::::::::::::::::::: ESTILOS HOME ::::::::::::::::::::::::::::::: */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}

.fa-solid{
    padding-right: 0.5rem;
    
}
.logo img{
    max-width: 290px;
    width: 100%;
}


.b-azul{
    font-weight: 600;
    background: linear-gradient(#07ffff, #016e6e );
    border-radius: 5px;
    border-color: 5px solid white;
    border-style: solid;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.b-azul:hover{
    color: var(--white-color);
    background: linear-gradient(#016e6e, #07ffff);
    border-color: var(--white-color);
    cursor: pointer;
}

.b-morado{
    font-weight: 600;
    background-color: var(--white-color);
    border-color: var(--purple-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: black;
}

.b-morado:hover{
    color: white;
    background: var(--purple-color);
    border-color: var(--purple-color);
    cursor: pointer;

}

nav{
    display: flex;
    flex-direction: column;
    background-color: var(--purple-color);
}

.item{
    padding: 1rem;
    color: var(--white-color);
    text-decoration: none;
    border-bottom: 2px solid var(--purple-color);
}

.item:hover{
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
    box-shadow: 0 0 10px rgb(180, 180, 180);
    transition: all 0.5s ease;
}

/* :::::::::::::::::::::::::: ESTILOS PRIMERA SECCION ::::::::::::::::::::::::::::::: */

#banner1{
    display: flex;
}

.introduccion img{
    max-width: 100%;
    
}

/* :::::::::::::::::::::::::: ESTILOS NUESTRO EQUIPO ::::::::::::::::::::::::::::::: */
.tseccion{
    color: var(--purple-color);
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px var(--gray-color);
}

#equipo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-equipo {
    margin: 10px;
    text-align: center;
    padding: 1rem;
}

.box-equipo img{
    max-width: 200px;
    width: 100%;
    border-radius: 50%;
}

.box-equipo h3{
    color:rgb(117, 41, 149);
    margin: 10px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(202, 202, 202);
}

.box-equipo h4{
    margin: 10px;
    text-shadow: 2px 2px 2px rgb(202, 202, 202);
}

.box-equipo p{
    margin: 20px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(202, 202, 202);
}

/* :::::::::::::::::::::::::: ESTILOS FOOTER ::::::::::::::::::::::::::::::: */

footer{
    background-image: url(../img/fondo.jpg);
    
}

.box-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(128, 0, 128, 0.356);
    
}

.foot{
    text-align: center;
}

.foot h3,i{
    color: white;
    font-weight: 500;

}

.foot p{
    color: white;

}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: tableta ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:768px) {
    header{
        flex-direction: row;
    }

    nav{
        flex-direction: column;
    }
    
    #equipo{
        flex-direction: row;
    }

    .box-footer {
        flex-direction: row;
        align-items: center;
    }
}

/* ::::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: Resolucion media :::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1024px) {
    header{
        flex-direction: row;
    }

    nav{
        flex-direction: row;
    }
}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: Resolucion media ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1200px) {
    header{
        flex-direction: row;
    }
}