*{
    box-sizing: border-box;
}

:root{
    --dark-color: #191919;
    --white-color:#ffffff;
    --purple-color: rgb(117, 41, 149);
    --purplelight-color: rgb(169, 83, 206);
    --aqua-color: aqua;
    --gray-color: gray;
    --ligh-color: #F3F3F3;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/* :::::::::::::::::::::::::: ESTILOS HOME ::::::::::::::::::::::::::::::: */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

}

.fa-solid{
    padding-right: 0.5rem;
    
}
.logo img{
    max-width: 270px;
    width: 100%;
}


.b-azul{
    font-weight: 600;
    background: linear-gradient(#07ffff, #016e6e );
    border-radius: 5px;
    border-color: var(--white-color);
    border-style: solid;
    padding: 0.5rem 1rem;
    margin-right: 5rem;
    cursor: pointer;
}
.b-azul:hover{
    color: var(--white-color);
    background: linear-gradient(#016e6e, #07ffff);
    border-color: var(--white-color);
    cursor: pointer;
}

.b-morado{
    font-weight: 600;
    background-color: var(--white-color);
    border-color: var(--purple-color);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-right: 3rem;
    cursor: pointer;
    color: black;
}

.fa-iconoReg{
    color: white;
}


.b-morado:hover{
    color: var(--white-color);
    background: var(--purple-color);
    border-color: var(--purple-color);
    cursor: pointer;

}

nav{
    display: flex;
    flex-direction: row;
    background-color: var(--purple-color);
}

.item{
    padding: 1rem;
    color: var(--white-color);
    text-decoration: none;
    border-bottom: 2px solid var(--purple-color);
}

.item:hover{
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
    box-shadow: 0 0 10px rgb(180, 180, 180);
    transition: all 0.5s ease;
}

/* :::::::::::::::::::::::::: ESTILOS PRIMERA SECCION ::::::::::::::::::::::::::::::: */

#tips{
    background-image: url(../img/fondoHuellas.png);
    background-repeat: no-repeat;
    background-size: 84.5rem;
    padding: 1.5rem 7rem;
    display: flex;
    flex-wrap: wrap;
}

.textup{
    position: relative;
    display: inline-block;
    text-align: center;

}

.textDown{
    position: relative;
    display: inline-block;
    text-align: center;

}

.iconoVin{
    background-color: rgba(148, 112, 219, 0.719);
    color: white;
    width: 12rem;
    padding: 1rem 1rem;
    text-align: center;
    border-radius: 20px;

    position: absolute;
    top: 17rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arriba0{
    display: flex;
    padding-left: 1rem;
}

.izq{
    width: 880px;
}

.izq h1{
    color: rgb(1, 165, 165);
}


.dere h1{
    color: rgba(1, 165, 165, 0.384);
}

.arriba{
    display: flex;
}

.arriba img{
    display: flex;
    width: 600px;
    height: 320px;
    margin: 1rem 1rem;
}

.arriba p{
    text-align: justify;
    font-size: 19px;
    line-height : 30px;
    margin: 2rem 1rem;
}

.abajo{
    display: flex;
}

.abajo img{
    display: flex;
    width: 600px;
    height: 320px;
    margin: 1rem 1rem;
}

.abajo p{
    text-align: justify;
    font-size: 20px;
    line-height : 30px;
    margin: 2rem 1rem;
}

.hueso{
    margin: 1rem 35rem;
}

/* :::::::::::::::::::::::::: ESTILOS FOOTER ::::::::::::::::::::::::::::::: */

footer{
    background-image: url(../img/fondo.jpg);
    
}

.box-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(128, 0, 128, 0.356);
    
}

.foot{
    text-align: center;
}

.foot h3,i{
    color: white;
    font-weight: 500;

}

.foot p{
    color: white;

}
/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: tableta ::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:768px) {
    header{
        flex-direction: row;
    }

    nav{
        flex-direction: column;
    }
    
    #equipo{
        flex-direction: row;
    }

    .box-footer {
        flex-direction: row;
        align-items: center;
    }
}
/* ::::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: Resolucion media :::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1024px) {
    header{
        flex-direction: row;
    }

    nav{
        flex-direction: row;
    }
}

/* :::::::::::::::::::::::::::::::::::::::::::: RESPONSIVE: Resolucion media ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width:1200px) {
    header{
        flex-direction: row;
    }
}
